<extend name="Public:layout" />
<block namee="title">商家管理-未回复留言</block>
<block name="goodsManage">
 	<li><a href="__MODULE__/Index/index"><i class="icon icon-home"></i> <span>商家操作控制台</span></a></li>
</block> 
<block name="accessoryMana">	
				<li class="submenu active open">
					<a href="#"><i class="icon icon-th-list"></i> <span>评论管理</span><span class="label">5</span></a>
					<ul>
						<li class="active"><a href="__MODULE__/Accessory/notMessage">回复留言</a></li>
						<li><a href="__MODULE__/Accessory/searchMessage">回复内容</a></li>
						<!-- <li><a href="__MODULE__/Accessory/intergrationAction">积分管理</a></li>
						<li><a href="__MODULE__/Accessory/giftAction">礼品卡管理</a></li>
						<li><a href="__MODULE__/Accessory/couponAction">优惠券管理</a></li> -->
					</ul>
				</li>
			</block>	

<block name="content">
<br/>
<h3>未回复留言</h3>


<table class="table table-bordered table-hover">
		<tr bgcolor="#7e99e7">
			<td>用户名</td>
			<td>购买商品编号</td>
			<td>店铺名称</td>
			<td>尺寸</td>
			<td>留言内容</td>
			<td>留言时间</td>
			<td><b>操作</b></td>
		
		</tr>
		<foreach name="data" item="vo">
			<tr>
				<td>{$vo.uname}</td>
				<td><a href="__MODULE__/GoodsAction/goodsIntro?id={$vo.id}"><b>{$vo.goodsnumber}</b></a></td>
				<td>{$vo.color}</td>
				<td>
				<switch name="vo.size">    
                    <case value="0"><span style='color:blue'>尺寸偏大</span></case> 
                    <case value="1"><php><span style='color:red'>尺寸偏小</span></case>    
                       
                    
                </switch>
				</td>
				<td>{$vo.review|mb_substr=0,6,'utf-8'}</td>
				<td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
				<td><a href="__CONTROLLER__/review?id={$vo.id}" class="btn btn-primary">回复</td>
			</tr>
			 
		</foreach>
		<tr align="center"><td colspan="7">{$page}</td></tr>
</table>

	
</block>