<extend name="Public:layout" />
<block name="title">商家管理-付款方式</block>
<block name="goodsManage">
 	<li><a href="__MODULE__/Index/index"><i class="icon icon-home"></i> <span>商家操作控制台</span></a></li>
 </block> 

 <block name="goodsAction">
	<li class="submenu active open">
		<a href="#"><i class="icon icon-file"></i> <span>商品管理</span> <span class="label">5</span></a>
		<ul>
			<li><a href="__MODULE__/goodsAction/addGoods">添加商品</a></li>
			<li><a href="__MODULE__/goodsAction/goodsMana">商品管理</a></li>
		<!-- 	<li><a href="__MODULE__/goodsAction/shortGoods">缺货商品</a></li>
			<li class="active"><a href="__MODULE__/goodsAction/payType">付款方式</a></li>
			<li><a href="__MODULE__/goodsAction/goodsIntro">配货说明</a></li> -->
		</ul>
	</li>
</block>

<block name="content">
<form action="" method="post">
<input type="hidden" name="id" value="1">
<table class="table table-striped">
	<tr>
		<td align="center">商品名：</td>
		<td><input type="text" name="goodsname" value="阿斯蒂芬"></td>
	</tr>
	<tr>
		<td align="center">商品图片：</td>
		<td><img src="__PUBLIC__/Admin/images/main_05.gif" width="80"></td>
	</tr>
	<tr>
		<td align="center">店铺名：</td>
		<td><input type="text" name="shopname" value="阿斯蒂芬"></td>
	</tr>
	<tr>
		<td align="center">市场价：</td>
		<td><input type="text" name="price" value="123"></td>
	</tr>
	<tr>
		<td align="center">秒杀价：</td>
		<td><input type="text" name="secprice" value="100"></td>
	</tr>
	<tr>
		<td align="center">数量：</td>
		<td><input type="text" name="num" value="100"></td>
	</tr>
	<tr>
		<td align="center">商品简介：</td>
		<td><textarea name="intro"></textarea></td>
	</tr>
	<tr>
		<td align="center">秒杀状态：</td>
		<td>无</td>
	</tr>
	<tr>
		<td colspan="2"><button type="submit" class="btn btn-primary col-md-4 col-md-offset-1">提交秒杀商品</button></td>
	</tr>
</table>
</form>
</block>