<if condition="session('username') heq null">
	<script>
		alert('亲，请先登录您的账号！');
		location.href="__MODULE__/Login/login";
	</script>
</if>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>三合商城后台管理系统</title>

<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.js"></script>


</head>
<frameset rows="127,*,11" frameborder="no" border="0" framespacing="0">
	<frame src="__MODULE__/Index/top" name="topFrame" scrolling="No"
		noresize="noresize" id="topFrame" />
	<frame src="center.html" name="mainFrame" id="mainFrame" />	
</frameset>
<noframes>
<body>
顶顶顶顶顶顶顶顶顶
</body>
</noframes>
</html>