<if condition="session('username') heq null">	
	<script>
		alert('干嘛呢这是！');
		location.href="__MODULE__/Login/login";
	</script>
</if>
<extend name="public:layout" />
<block name="position">
审核管理 >> 查看店铺详细信息
</block>
<block name="right">
<form action="__CONTROLLER__/editShopState?id={$row['id']}" method="post">
<input type="hidden" name="id" value="{$row[0]['id']}">
<table class="table table-hover table-striped">
	<tr>
		<td width="30%" align="center">店铺名：</td>
		<td width="70%">{$row['shopname']}</td>
	</tr>
	<tr>
		<td align="center">店铺管理员：</td>
		<td><input type="text" name="username" value="{$row['username']}" /></td>
	</tr>
	<tr>
		<td align="center">用户邮箱：</td>
		<td><input type="email" name="email" value="{$row['email']}" /></td>
	</tr>
	<tr>
		<td align="center">用户电话：</td>
		<td><input type="text" name="phone" value="{$row['phone']}" /></td>
	</tr>
	<tr>
		<td align="center">店铺地址：</td>
		<td><input type="text" name="address" value="{$row['address']}" /></td>
	</tr>
	<tr>
		<td align="center">店铺信息：</td>
		<td><textarea name="brand">{$row['content']}</textarea></td>
	</tr>
	<tr>
		<td align="center">注册时间：</td>
		<td>{$row['lasttime']|date='Y-m-d',###}</td>
	</tr>
	<tr>
		<td colspan="2"><button type="submit" class="btn btn-primary col-md-4 col-md-offset-1">审核通过</button></td>
	</tr>
</table>
</form>
</block>