<if condition="session('salename') heq null">	
	<script>
		alert('请先登录！');
		location.href="__MODULE__/LoginReg/login";
	</script>
</if>
<html lang="en">
	<!-- container-fluid -->
	<head>
		<title>      
		<block name="title">商家管理</block>
		</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="__PUBLIC__/Merchant/width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="__PUBLIC__/Merchant/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Merchant/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Merchant/css/bootstrap-theme.css" />
		<link rel="stylesheet" href="__PUBLIC__/Merchant/css/fullcalendar.css" />	
		<link rel="stylesheet" href="__PUBLIC__/Merchant/css/unicorn.main.css" />
		<link rel="stylesheet" href="__PUBLIC__/Merchant/css/unicorn.grey.css" class="skin-color" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<script src="__PUBLIC__/Merchant/js/jquery.min.js"></script>
		<script src="__PUBLIC__/Merchant/js/jquery.js"></script>
	</head>
	<body>
		<block name="top">
			
		</block>
		
		<div id="header">
			<h1><a href="./dashboard.html">三合</a></h1>		
		</div>
		
		<div id="search">
			<img src="__PUBLIC__/Merchant/img/ftlogo.png">
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i> <span class="text" style="color:#888;font-size:12px;">{$_SESSION['salename']}</span></a></li>

                <li class="btn btn-inverse dropdown" id="menu_messages">
                    <a><i class="icon icon-envelope"></i>

                        <img src="__PUBLIC__/Merchant/img/alert.png" id="shan" width="20px">

                    <b class="caret"></b></a>

                </li>
                <li class="btn btn-inverse"><a title="" href="__MODULE__/LoginReg/logout"><i class="icon icon-share-alt"></i> <span class="text" style="color:#888;font-size:12px;">注销</span></a></li>
            </ul>
            <div id="messagelist" style="width:180px;height:80px;background: #eee;display:none;">

            </div>
            <input type="hidden" value="__MODULE__/Index/Newmessage" id = "Newmsgurl">
            <input type="hidden" value="__PUBLIC__/Merchant/img/newmsg.mp3" id = "msgmp3">
        </div>
            
		<div id="sidebar">
			
			<ul>
			<block name="goodsManage">
				<li class="active"><a href="__MODULE__/Index/index"><i class="icon icon-home"></i> <span>商家操作控制台</span></a>
				</li>
				
			</block>
			<block name="infoSettings">	
				<li class="submenu">
					<a href="#"><i class="icon icon-th-list"></i> <span>信息配置</span> <span class="label">3</span></a>
					<ul>
						<li><a href="__MODULE__/infoSettings/basicInformation">基本信息</a></li>
						<li><a href="__MODULE__/infoSettings/shopInfo">店铺介绍</a></li>
						<li><a href="__MODULE__/infoSettings/changePass">密码修改</a></li>
						<li><a href="__MODULE__/infoSettings/shopLogo">店铺logo</a></li>
					</ul>
				</li>
			
			</block>

			<block name="goodsAction">
				<li class="submenu">
					<a href="#"><i class="icon icon-file"></i> <span>商品管理</span> <span class="label">4</span></a>
					<ul>
						<li><a href="__MODULE__/goodsAction/addGoods">添加商品</a></li>
						<li><a href="__MODULE__/goodsAction/goodsMana">商品操作</a></li>
					</ul>
				</li>
			</block>
			<block name="orders">
				<li class="submenu">
					<a href="#"><i class="icon icon-tint"></i> <span>订单管理</span><span class="label">2</span></a>
					<ul>
						<li><a href="__MODULE__/Orders/effectiveOrder">待发货订单</a></li>
						<li><a href="__MODULE__/Orders/finishedOrder">已完成订单</a></li>
					</ul>

				</li>
			</block>

			<block name="group">	
				<li class="submenu">
					<a href="#"><i class="icon icon-pencil active"></i> <span>申请闪团</span><span class="label">2</span></a>
					<ul>
						<li><a href="__MODULE__/Group/add">添加闪团商品</a></li>
						<li><a href="__MODULE__/Group/groupList">闪团商品列表</a></li>
					</ul>

				</li>
			</block>			

			<block name="accessoryMana">	
				<li class="submenu">
					<a href="#"><i class="icon icon-th-list"></i> <span>留言管理</span><span class="label">2</span></a>
					<ul>
						<li><a href="__MODULE__/Accessory/notMessage">回复留言</a></li>
						<li><a href="__MODULE__/Accessory/searchMessage">回复内容</a></li>
					</ul>
				</li>
			</block>	
				
				<li class="btn btn btn-danger"><a href="__MODULE__/Index/ourgroup"><span>三合网络工作室</span></a></li>
			</ul>
		
		</div>
		
		
		
		<div id="content">
			<block name="content"></block>
		</div>
<script src="__PUBLIC__/Merchant/js/excanvas.min.js"></script>
<script src="__PUBLIC__/Merchant/js/jquery.ui.custom.js"></script>
<script src="__PUBLIC__/Merchant/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Merchant/js/jquery.flot.min.js"></script>
<script src="__PUBLIC__/Merchant/js/jquery.flot.resize.min.js"></script>
<script src="__PUBLIC__/Merchant/js/jquery.peity.min.js"></script>
<script src="__PUBLIC__/Merchant/js/fullcalendar.min.js"></script>
<script src="__PUBLIC__/Merchant/js/unicorn.js"></script>
<script src="__PUBLIC__/Merchant/js/unicorn.dashboard.js"></script>
<!-- kindeditor编辑器 -->


<script charset="UTF-8" src="/Public/kindeditor/kindeditor-min.js"></script> 
<script charset="UTF-8" src="/Public/kindeditor/lang/zh_CN.js"></script> 

<script> 

var editor; 
KindEditor.ready(function(K) { 
editor = K.create('textarea[name="content"]', { 
                allowFileManager : true 
            }); 
               
        });

    var Newmsgurl = $("#Newmsgurl").val();
    $.post(Newmsgurl,function(data){
        var msgcount = JSON.parse(data);
        msgcount.review_count?msgcount.review_count:0;
        msgcount.order_count?msgcount.order_count:0;
        if(msgcount.review_count != 0 &&  msgcount.order_count !=0 ){
            var msgmp3 = $("#msgmp3").val();
            var html = '<embed src="'+msgmp3+'" width="0" height="0" loop="false"></embed>';
            $("#user-nav").append(html);

            setInterval(function(){ $("#shan").fadeOut(100).fadeIn(100); },1000);

        }

        var html ='<center><a href="/merchant.php/Merchant/Orders/effectiveOrder">您有<b style="color:red;line-height: 30px;">'+msgcount.order_count+'</b>个新订单待发货</a><br/>'+
                  '<a href="/merchant.php/Merchant/Accessory/notMessage">您有<b style="color:red;line-height: 30px;">'+msgcount.review_count+'</b>条评论待回复</a></center>';


        $("#messagelist").html(html);
    })

    $("#menu_messages").click(function(){
        $("#messagelist").toggle();
    })


</script>
<block name="order">
</block>
</body>
</html>
