<extend name="Public:layout" />
<block name="title">商家管理-友情链接</block>
 <block name="goodsManage">
 	<li><a href="__MODULE__/Index/index"><i class="icon icon-home"></i> <span>商家操作控制台</span></a></li>
 </block>           
<block name="infoSettings">
				<li class="submenu active open">
					<a href="#"><i class="icon icon-th-list"></i> <span>信息配置</span> <span class="label">8</span></a>
					<ul>
						<li><a href="__MODULE__/infoSettings/basicInformation">基本信息</a></li>
						<li><a href="__MODULE__/infoSettings/shopInfo">店铺介绍</a></li>
						<li><a href="__MODULE__/infoSettings/merchantsAnnou">商家公告</a></li>
						<li><a href="__MODULE__/infoSettings/goodsClassify">商品分类</a></li>
						<li><a href="__MODULE__/infoSettings/changePass">密码修改</a></li>
						<li class="active"><a href="__MODULE__/infoSettings/friendLink">友情链接</a></li>
						<li><a href="__MODULE__/infoSettings/shopLogo">店铺logo</a></li>
					</ul>
				</li>
</block>
<block name="content">

</block>	