<extend name="Public:lists" />
<block name="title">{$title}</block>
<block name="js_css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Flagship/fss.css">	
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Flagship/index.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Flagship/channel.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/total/ucenter_v2.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/total/ygdialog.css">
    <link href="__PUBLIC__/Home/css/base.css?2.9.4" type="text/css" rel="stylesheet" />
    <link href="__PUBLIC__/Home/list/css/base-2.css?2.9.4" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/list.js"></script>
</block>
<block name="content">
<!--//导航end-->
<!--//公共头部end--><div class="blank10"></div>
<div class="cen">
    <p class="curLct">
        您当前的位置：<a href="" target="blank">首页</a> &gt; 
        <a href="">我的优购</a> &gt; 积分查询/兑换
    </p>
<div class="u_leftxin u_leftxin fl mgr10" id="umenu">
    <div class="wdygtit"><a href=""><span>我的优购</span></a></div>
    <ul class="jiaoyizx">
        <li class="ultit">交易中心</li>
        <li class="myorderli"><a href="__APP__/OrderSet"><span>我的订单</span></a></li>
        <li class="myfavorli"><a href=""><span>我的收藏</span></a></li>
        <li class="mydatingbuyli"><a href=""><span>我的预约</span></a></li>
        <li class="mycommentli"><a href=""><span>商品评论/晒单</span></a></li>
        <li class="msgli"><a href=""><span id="uc_msg_count">站内消息<i class="huise">（<em>0</em>）</i></span></a></li>
    </ul>
    <ul class="wodezc">
        <li class="ultit">我的资产</li>
        <li class="mycouponli"><a href=""><span id="my_coupon_tick">我的优惠券</span></a></li>
        <li class="giftcardli"><a href=""><span id="my_giftcard_tick">我的礼品卡</span></a></li>
        <li class="mypointli"><a href=""><span id="my_point_tick">我的积分</span></a></li>
    </ul>
    <ul class="gerensz">
        <li class="ultit">个人设置</li>
        <li class="myinfoli"><a href="__APP__/Data"><span>个人资料</span></a></li>
        <li class="safesetli"><a href="__APP__/Personal"><span id="uc_safe_level">安全设置</span></a></li>
        <li class="myaddrli"><a href=""><span>我的收货地址</span></a></li>
    </ul>
    <ul class="shouhoufw">
        <li class="ultit">售后服务</li>
        <li class="afterservli"><a href=""><span>查看退换货</span></a></li>
        <li class="appservli"><a href=""><span>申请退换货</span></a></li>
    </ul>
</div> 
    <div class="u_right fl">
        <p class="ubtitle"><span class="Size14 fb">积分查询/兑换</span></p>
        <!-- 积分兑换宏 -->
<div class="u_con2 uc_jf_hd">
    <p>可用积分：<em class="f18 corg">100</em> 分
    </p>
            <p class="ca">当前暂无积分兑换活动</p>
</div>
        <p class="blank10"></p>
        <p class="tab_content">
            </p><ul class="tab_top">
                <li id="integralDetail" class="on">积分明细</li>
            </ul>
            <ul class="tab_con">
            
 
                <table class="tab_tb">
                    <thead>
                        <tr><th class="llb">积分</th>
                        <th class="25%">积分日期</th>
                        <th class="25%">类型</th>
                        <th class="lrb" style="width:300px">说明</th>
                    </tr></thead>
                    <tbody>
                            <tr>
                            <td class="td1">100</td>
                            <td>2014/11/14 03:03:15 </td>
                            <td>注册成功送积分</td>
                            <td style="text-align:left;padding-left:10px;">注册成功送积分 100</td>
                            </tr>
                    </tbody>
                </table>
            </ul>
        <p></p>
        <p class="blank07"></p>
         <form action="/my/point.jhtml" method="get" id="queryForm">
                    <input name="timeInterval" value="lessThanThreeMonth" id="timeInterval" type="hidden">
                    <input value="14162460078989792" name="t" type="hidden">
         </form>
            <div id="paginator" class="paginator" style="display: block;">
        <div style="float:left;">总记录数：<font color="red">1</font></div>
    <div class="page">
    </div>
            </div>
            <p class="blank07"></p>
        <!-- 积分兑换说明 -->
<div class="u_coupon_tips">
    <p class="tit">积分兑换说明：</p>
    <p>
        ·为了保障您积分安全，已绑定手机的账户才给予兑换，下次兑换时需验证手机；<br>
        ·您兑换的是优购网的优惠券/礼品卡；<br>
        ·优惠券/礼品卡仅限本ID使用，不能折算为现金，也不能再次兑换为积分；<br>
        ·每天最多兑换<em class="f18 corg">3</em>次。
    </p>
</div>
    </div>
</div>
<p class="blank10"></p>
<!--调查问卷入口-->
</block>	