<extend name="Public:layout" />
<block namee="title">商家管理-银行账户</block>
<block name="goodsManage">
 	<li><a href="__MODULE__/Index/index"><i class="icon icon-home"></i> <span>商家操作控制台</span></a></li>
</block> 
<block name="financial">	
	<li class="submenu active open">
		<a href="#"><i class="icon icon-pencil"></i> <span>财务管理</span><span class="label">5</span></a>
		<ul>
			<li><a href="__MODULE__/Financial/remainMoney">账户余额</a></li>
			<li class="active"><a href="__MODULE__/Financial/bankAcount">银行账户</a></li>
			<li><a href="__MODULE__/Financial/withdrowApplication">提现申请</a></li>
			
			<li><a href="__MODULE__/Financial/financialDetail">财务明细</a></li>
		</ul>

	</li>
</block>

<block name="content">

</block>