<extend name="Public:layout" />
<block namee="title">商家管理-添加资讯</block>
<block name="goodsManage">
 	<li><a href="__MODULE__/Index/index"><i class="icon icon-home"></i> <span>商家操作控制台</span></a></li>
</block> 
<block name="newsMana">
	<li class="submenu active open">
		<a href="#"><i class="icon icon-th"></i> <span>申请秒杀</span><span class="label">2</span></a>
		<ul>
			<li class="active"><a href="__MODULE__/NewsMana/addNews">添加秒杀</a></li>
			<li><a href="__MODULE__/NewsMana/newsAction">秒杀商品列表</a></li>
		</ul>

	</li>
</block>

<block name="content">

</block>