<if condition="session('username') heq null">	
	<script>
		alert('干嘛呢这是！');
		location.href="__MODULE__/Login/login";
	</script>
</if>
<extend name="public:layout" />
<block name="position">
评论管理 >> 查看差评
</block>
<block name="right">
<table class="table table-hover table-striped">
	<tr>
		<th>用户名</th>
		<th>商品名</th>
		<th>店铺名</th>
		<th>店铺评分</th>
		<th>用户评论</th>
		<th>商家回复</th>
		<th>评论时间</th>
		<th>操作</th>
	</tr>
	<foreach name="row" item="vo">
	<tr>
		<td>{$vo.uname}</td>
		<td>{$vo.goodsid}</td>
		<td>耐克</td>
		<td>{$vo.score}</td>
		<td><textarea rows="1">{$vo.review}</textarea></td>
		<td><textarea rows="1">{$vo.replay}</textarea></td>
		<td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>
		<td>
			<a href="__MODULE__/Comment/deleteComment?id={$vo.id}" target="rightFrame"><button class="btn btn-danger">删除</button></a></a>
		</td>
	</tr>
	</foreach>
	<tr>
		<td colspan="8" align="center">{$page}</td>
	</tr>
</table>
</block>